<div class="studentdetails">
    <main>
      <h1>Student Details</h1>
      <div class="recent-orders" style="overflow: auto;">
        <h2>Rejected Student</h2>
        <table id="unverified">
          <thead>
            <tr>
              <th class="sortable" style="font-size: 18px;">ID</th>
              <th class="sortable" style="font-size: 18px;">Name</th>
              <th class="sortable" style="font-size: 18px;">Email</th>
              <th class="sortable" style="font-size: 18px;">Resume</th>
              <th class="sortable" style="font-size: 18px;">Round</th>
              <th class="sortable" style="font-size: 18px;">Message</th>
              <th class="sortable" style="font-size: 18px;">Accept</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<rejected.length; i++) { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= rejected[i].studentName %></td>
              <td><%= rejected[i].studentEmail %></td>
              <td><a href="/download-resume/<%= rejected[i].resume %>"><button class="detail-button">Resume</button></a></td>
              <td><%= rejected[i].round %></td>
              <td>
                <textarea name="message<%= i %>" rows="2" cols="20" placeholder="Enter a message"></textarea>
              </td>
              <td>
                <form action="/accepted/<%= rejected[i].studentEmail %>" method="post">
                  <input type="hidden" name="message" value="message<%= i %>" />
                  <button class="add-button" type="submit">&#10004;</button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <a href="#">Show All</a>
      </div>
    </main>
  </div>