<div class="feedback">
    <main>
      <h1>Rounds of Companies</h1>
      <input type="text" id="searchInput" placeholder="Search by Company Name">
      <div class="recent-orders" style="overflow-y: auto; max-height: 300px; ">
        <table id="unverified">
          <thead>
            <tr>
              <th class="sortable" style="font-size: 18px;">ID</th>
              <th class="sortable" style="font-size: 18px;">Company Name</th>
              <th class="sortable" style="font-size: 18px;">Role</th>
              <th class="sortable" style="font-size: 18px;">Package</th>
              <th class="sortable" style="font-size: 18px;">Current round</th>
            </tr>
          </thead>
        <tbody id="tableBody" >
            <% for(var i=0; i<cStudent.length; i++){ %>
            <tr>
              <td>
                <%= i+1 %>
              </td>
              <td>
                <%= cStudent[i].name %>
              </td>
              <td>
                Software Engineer
              </td>
              <td>
                <%= cStudent[i].package %>
              </td>
              <td>
                <%= cStudent[i].round %>
              </td>
            </tr>
            <% } %>
            
            
          </tbody>
        </table>
      </div>
  </main>
  
  <br/></br>
  <main>
    <h1>Selected Companies</h1>
    <div class="recent-orders" style="overflow-y: auto; max-height: 300px; ">
        <table id="unverified" >
          <thead>
            <tr>
              <th class="sortable" style="font-size: 18px;">ID</th>
              <th class="sortable" style="font-size: 18px;">Company Name</th>
              <th class="sortable" style="font-size: 18px;">Role</th>
              <th class="sortable" style="font-size: 18px;">Package</th>
              <th class="sortable" style="font-size: 18px;">Current round</th>

            </tr>
          </thead>
        <tbody>
            <% for(var i=0; i<cStudent.length; i++){ %>
            <tr>
              <td>
                <%= i+1 %>
              </td>
              <td>
                <%= cStudent[i].name %>
              </td>
              <td>
                Software Engineer
              </td>
              <td>
                <%= cStudent[i].package %>
              </td>
              <td>
                <%= cStudent[i].round %>
              </td>
            </tr>
            <% } %>
            
            
          </tbody>
        </table>

      </div>
</main>


<script>
  document.getElementById('searchInput').addEventListener('input', function () {
      const searchValue = this.value.toLowerCase();
      const tableBody = document.getElementById('tableBody');
      const rows = tableBody.getElementsByTagName('tr');

      for (let i = 0; i < rows.length; i++) {
          const companyName = rows[i].getElementsByTagName('td')[1].innerText.toLowerCase();

          if (companyName.includes(searchValue)) {
              rows[i].style.display = '';
          } else {
              rows[i].style.display = 'none';
          }
      }
  });
</script>

    </div>