<div class="progress">
    <div class="course-box">
      <ul style="font-weight: bold;">
        <li id="progressbtn" class="active">In progress</li>
        <li id="exploreBtn">Explore</li>
        <li id="incomingbtn">Incoming</li>
        <li id="eligiblebtn">Eligible</li>
      </ul>
      <% for(var i=0; i<companies.length; i++){ %>
      <% var flag = 0; %>
      <% var flag1 = 0; %>
      <% for(var j=0; j<cStudent.length; j++){ %>
      <% if(companies[i].name === cStudent[j].name) { %>
      <% flag = 1; %>
      <% } %>
      <% } %>
      <% for(var j=0; j<sCompany.length; j++){ %>
      <% if(companies[i].name === sCompany[j]) { %>
      <% flag1 = 1; %>
      <% } %>
      <% } %>
      <% if(flag === 0 && flag1 === 0) { %>
      <div class="course">
        <div class="box eligible">
          <h3 style="font-size: 31px";><%=companies[i].name %></h3>
          <p style="color: black;"><%= companies[i].description %></p>
          <br>
          <strong >Role: Software Engineer</strong><br>
          <strong >Package: <%= companies[i].package %></strong><br>
          <form action="/applied/<%= companies[i].email %>" method="post">
            <button type="submit">Apply</button>
          </form>
        </div>
      </div>
      <% } %>
      <% } %>
      <% for(var i=0; i<companies.length; i++){ %>
      <% var flag1 = 0; %>
      <% for(var j=0; j<sCompany.length; j++){ %>
      <% if(companies[i].name === sCompany[j]) { %>
      <% flag1 = 1; %>
      <% } %>
      <% } %>
      <% if(flag1 === 1) { %>
      <div class="course">
        <div class="box eligible">
          <h3 style="font-size: 31px";><%=companies[i].name %></h3>
          <p style="color: black;"><%= companies[i].description %></p>
          <br>
          <strong >Role: Software Engineer</strong><br>
          <strong >Package: <%= companies[i].package %></strong><br>
          <form action="/applied/<%= companies[i].email %>" method="post">
            <button type="submit">Rejected</button>
          </form>
        </div>
      </div>
      <% } %>
      <% } %>
      <% for(var i=0; i<companies.length; i++){ %>
      <% var flag = 0; %>
      <% for(var j=0; j<cStudent.length; j++){ %>
      <% if(companies[i].name === cStudent[j].name) { %>
      <% flag = 1; %>
      <% } %>
      <% } %>
      <% if(flag === 1) { %>
      <div class="course">
        <div class="box">

          <h3 style="font-size: 31px";><%=companies[i].name %></h3>
          <p style="color: black;"><%= companies[i].description %></p>
          <br>
          <strong >Role: Software Engineer</strong><br>
          <strong >Package: <%= companies[i].package %></strong><br>
          <button style="background-color: blue;">Already Applied</button>
        </div>
      </div>
      <% } %>
      <% } %>
      <% for(var i=0; i<companiesNot.length; i++){ %>
      <div class="course">
        <div class="box">
          <h3 style="font-size: 31px";><%=companiesNot[i].name %></h3>
          <p style="color: black;"><%= companiesNot[i].description %></p>
          <br>
          <strong >Role: Software Engineer</strong><br>
          <strong >Package: <%= companiesNot[i].package %></strong><br>
          <button style="background-color: blue;">Not Eligible</button>
        </div>
      </div>
      <% } %>
    </div>
  </div>